# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/

# Ignore PEM files (private keys, certificates)
*.pem

# Exception: Allow certs directory and specific files within it
!certs/
!certs/server_cert.pem
!certs/server_key.pem

# Ignore JSON files (if any are generated)
*.json
# Ignore YAML files (if any are generated)
*.yaml

