# Core
fastapi>=0.115.0
uvicorn[standard]>=0.30.0

# MongoDB Async ODM (ORM-style)
beanie>=1.26.0               # ODM dùng Motor + Pydantic Model

# Driver MongoDB async
motor>=3.4.0                 

# Pydantic / Settings
pydantic>=2.9.0
pydantic[email]
pydantic-settings>=2.5.0

# Auth
python-jose[cryptography]>=3.3.0
bcrypt>=4.0.0

# Upload
python-multipart>=0.0.9

# Testing
pytest>=8.0.0
httpx>=0.27.0
pytest-asyncio>=0.23.0

# Linting
pylint-pydantic